// Place all the styles related to the api/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.showevents{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 27px;
  color: black;
font-family: arial, sans-serif;
font-weight: 600;
// margin: 50px 0px 0px 80px;
}
