.lockSymbol {
  width:16px;
  height: 25px;
  background-size: cover;
  top: 3px;
}
.errors {
  color: red;
  font-size: 13px;
}
.logininfo {
  font-size: 13px;
  font-weight: 800;
  padding-top: 20px;
  margin: 0px;
}
.inputField {
  height: 30px;
  width: 430px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 3px;
}
input {
  background-color: #F8F9F9;
}
.loginpage {
  padding-top: 50px;
  background-color: #F8F9F9;
  /* min-height: 800px; */
  /* min-height: 100px; */
  /* position: relative; */
  padding-bottom: 355px;
  /* width: 100% */
  /* top: 100px; */
  }

.signup {
  width: 460px !important;
  /* height: 500px; */
}
.signupheader {
  /* position: relative; */
  text-align: center;
  margin-bottom: 20px;
  top: -60px;
}

.checkbox {
  font-size: 13px;
  font-weight: 900;
  padding-top: 20px;
  margin: 0px;
  margin-left: 1px;
  margin-right: 3px;
  margin-top: 13px;
}
.checkboxtext {
  margin-top: 13px;
  font-size: 13px;
  font-weight: 900;
  padding-top: 20px;
  margin: 0px;
  display: inline;
}

/* hr {
  width: 430px;
  size: 1px;
  border-top-color: #3b5998;
  height: 0px;
} */
hr {
width:211px;
/* left: 20px; */
/* position: absolute; */
}

table {
  position: absolute;
}

.or {
  padding-left: 2px;
  padding-right: 2px;
  font-size: 13px;
  font-weight: 800;
  padding-bottom: 0px;
  vertical-align: middle;
  text-align: center;
  background-color: white !important;
  /* position:absolute; */
}

.demobutton {
    width: 430px;
      height: 36px;
      background-color: #3b5998;
      border: 1px solid #3b5998;
      border-radius: 3px;
      color: white;
      font-weight: 900;
      text-align: center;
}
.demobutton:hover {
  cursor: pointer;
  background-color: #24355C;
}
.loginb {
  margin-top: 13px;
  background-color: rgb(237, 28, 64);
  color:white;
  font-weight: 900;
  border-radius: 3px;
  border: 1px solid rgb(237, 28, 64);
  text-align: center;
  padding-top: 10px;
  height: 36px;
  width: 82px;
  line-height: 1.45;
  font-size:16px;
  text-align: center;
  padding-top: 5px;
  display: block;
  vertical-align: middle;
}

.loginb:hover {
  background-color: #bd0f2d;
  cursor: pointer;
}
.shit {
    font-size: 13px;
    font-weight: 800;
    line-height: 1.6;
    display: inline;
}
.signupLink {
  display: inline;
  font-size: 13px;
  font-weight: 800;
  line-height: 1.6;
  text-decoration: none;
  color: blue;
}
.signupLink:hover {
  text-decoration: underline;
}
.formHeader {
  padding-left: 15px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  padding-bottom: 10px;
}
.formHeader .signup {
  border-bottom: 0px;
}
.formlogin {
  padding-left: 15px;
}

.demosection {
  background-color: #D8DFEA;
  1px solid rgba(0,0,0,.12)
  width: 445px;
  border:
  align-items: center;
  padding-left: 15px;
  display: run-in;
  align-items: center;
  /* position: relative; */
  height: 70px;
  /* position: relative; */
  margin-top: 13px;
}
.mainpage {
  display: flex;
  flex-direction: column;
  height:100%;
}
.session-form {
  /* position: absolute; */
  /* top:100%; */
  /* left:50%;
  transform: translate(-50%, -80%);
  top: 500px; */
  font-family: Arial,sans-serif;
  height: 380px;
  width: 460px;
  vertical-align: middle;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 3px;
  background-color: white;
}
body {
  margin: 0px;
}
html {
  margin-bottom: -2px;
}
/* #root {
  min-height: 600px;
} */
/* html {
  min-height: 100%;
} */
/* .main-body {
  min-height: 100%;
}
.mainpage {
  height: 100%;
} */
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.continuebar {
  width: 435px !important;
  /* display: absolute; */
}
.signup {
  border: 0px;
  /* top:50%; */
  /* position: absolute; */
}
.hrsignup {
  /* align-items: center; */
  margin-left: 0px;
  top: 10px;
  /* padding-right: 5px; */
  align-items: center;
  /* padding-top: 20px; */
  /* position: relative; */
  width: 430px;
}

.logintext {
  padding-top: 7px;
  height: 10px;
  font-size: 13px;
}
.loginlink {
  height: 0px;
}
.loginlinktext {
  font-size: 13px;
  text-decoration: none;
  padding-left: 5px;
  height: 10px;
  display: inline;
}
.gotologin {
  display: flex;
  justify-content: center;
}
.session-form h2 {
  padding-top: 10px;
  font-weight: 500;
  margin: 0px;
  font-size: 34px;
}
