/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
li {
  list-style: none;
}
.groupshow{
  font-family: arial, sans-serif;
}
.groupShowTitle{
  font-size: 35px;
  font-weight: 800;
  width: 326px;
  word-wrap: break-word;

}
.joindeleteetc{
  height: 50px;
  display: flex;
  justify-content: center;
}
.joinGroup{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 13px;
  background-color: rgb(237, 28, 64);
  color:white;
  font-weight: 900;
  border-radius: 3px;
  border: 1px solid rgb(237, 28, 64);
  text-align: center;
  padding-top: 10px;
  height: 36px;
  width: 433px;
  line-height: 1.45;
  font-size:16px;
  text-align: center;
  margin-left: 15px;
  padding-top: 5px;
  display: block;
  vertical-align: middle;
}
.useless{
  text-decoration: none;
  padding: 10px 20px;
  color:black;
  font-size: 20px;
  font-weight: 300
  letter-spacing: 1px
}
.useless:hover{
  color: #00a2c7;
}

.groupimage{
  width: 600px;
  height: 340px;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid white;
}
.grouphead{
  display: flex;
  justify-content: center;
}
.groupShowTitle{

}
.groupshow {
  display: flex;
  flex-direction: column;
}
.imagedivision {
  width: 600px;
  height: 338px;
}
.eachGroup{
  /* width: 320px; */
padding: 5px;
/* margin: 10px; */
font-size: 20px;
position: relative;
}
.eachGroup > .container {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), transparent); */
position: absolute;
background: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%, transparent);
top: 127px;
left: 5px;
width: calc(100% - 25px);
height: calc(50% - 30px);
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.26);
  padding-left: 15px;
}
/* .container { */
  /* position: relative; */
  /* font-family: Arial,sans-serif;
  width: 309.33px;
} */
/* .groupIndexImage{
  width: 309.33px;
  height: 180px;
} */
.groupIndexImage{
  object-fit: cover;
  width: 345.33px;
  height: 200px;
}
/* .groupIndexTitle{
  text-decoration: none;
  letter-spacing: -.02em;
  position: absolute;
  bottom: 8px;
  left:16px;
  font-weight: 900;
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px 2px 2px black;
} */
.groupIndexTitle{
  letter-spacing: -.02em;
  font-weight: 900;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px 2px black;
  word-wrap: break-word;
}
/* .groupIndex{
  display: flex;
  display: flex;
  align-self: center;
  margin: 0px;
  margin-right: 0px;
  width: 80%;
  padding: 30px;
} */
.groupIndex {
  margin: 0 auto;
width: 1100px;;
height: auto;
color: white;
padding: 60px 30px 30px 30px;
display: flex;
justify-content: space-around;
flex-direction: row;
flex-wrap: wrap;

}
.groupIndex:hover {
    color: crimson;
    cursor: pointer;
  }
