/* Style the header */
.header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}
.editeve{
  text-decoration: none;
    height: 26px;
    padding-top: 13px;
    margin-top: 12px;
}
#grpshwimgobj{
  margin:-21px;
}
.awe {
  font-size: 20px;
  color: black;
  margin-bottom: 500px;
  padding-left: 417px;
}
.hidegroups{
display: none;
}
.showgroups{
  /* display: block; */
  font-size: 27px;
font-family: arial, sans-serif;
font-weight: 600;
margin: 50px 0px 0px 380px;
}
li {
  list-style: none;
}
.eachGroup{
  /* width: 320px; */
padding: 5px;
/* margin: 10px; */
font-size: 20px;
position: relative;
}
.eachGroup > .container {
  /* background: linear-gradient(rgba(0, 0, 0, 0.7), transparent); */
position: absolute;
background: linear-gradient(rgba(15,20,31,0) 0,rgba(15,20,31,.1) 25%,rgba(15,20,31,.8) 100%, transparent);
top: 127px;
left: 5px;
width: calc(100% - 25px);
height: calc(50% - 30px);
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.26);
  padding-left: 15px;
}
/* .container { */
  /* position: relative; */
  /* font-family: Arial,sans-serif;
  width: 309.33px;
} */
/* .groupIndexImage{
  width: 309.33px;
  height: 180px;
} */
.groupIndexImage{
  object-fit: cover;
  width: 345.33px;
  height: 200px;
}
/* .groupIndexTitle{
  text-decoration: none;
  letter-spacing: -.02em;
  position: absolute;
  bottom: 8px;
  left:16px;
  font-weight: 900;
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px 2px 2px black;
} */
.groupIndexTitle{
  font-family: arial, sans-serif;
  letter-spacing: -.02em;
  font-weight: 900;
  font-size: 25px;
  color: white;
  text-shadow: 2px 2px 2px 2px black;
  word-wrap: break-word;
}
.groupIndexLink{
  margin-left: 9px;
  height: 218px;
}
/* .groupIndex{
  display: flex;
  display: flex;
  align-self: center;
  margin: 0px;
  margin-right: 0px;
  width: 80%;
  padding: 30px;
} */
.groupIndex {
  /* padding: 60px 30px 30px 46px;
display: flex;
justify-content: flex-start; */
  margin: 0 auto;
width: 1100px;;
height: auto;
/* min-height: 700px; */
/* min-height: 600px; */
color: white;
padding: 60px 30px 0px 30px;
display: flex;
justify-content: flex-start;
flex-direction: row;
flex-wrap: wrap;

}
.groupIndex:hover {
    color: crimson;
    cursor: pointer;
  }
