
.memberssection {
  display: flex;
  width: 1057px;
display: flex;
margin: 0 auto;
flex-direction: column;
padding-top: 20px;
width: 100%;
}
.usercard {
  display: flex;
flex-direction: column;
align-items: center;
  background-color: white;
    width: 73px;
    margin-right: 40px;
    overflow: hidden;
    text-align: center;
    height: 114px;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 15px;
    p { font-size: 21px;
      word-wrap: break-word;
      overflow: hidden;
      width: 100%;
      margin-right: 0px;
      margin-bottom: 4px;
      height: 64%;
        margin-top: 10px;}
    i { font-size: 24px; }

}
#usericon{
  padding-bottom: 25px;
  p {
    margin-right: 0px;
  }
}
.usercard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.memberlistsection{
  display: flex;
}
.hideme{
  display: none;
}
.showme {
  font-size: 24px;
  display: inline-block;
}
.memberlistsection{
display: flex;
flex-wrap: wrap;
}
