.nav-bar {
  padding: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
}

.logo {
  width:123px;
  height:44px
}

.btn {
  text-decoration: none
}
